<!DOCTYPE html>

<!--
  Mustafa Abdullah, William Li, Jiefeng Ou, Cody Wong
  CJWM
  P00: Move Slowly and Fix Things
 -->

<html>
   <head>
     <title>CJWM: {{blog_name}}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>

   <body>
    <div class="navbar" style="background-color:#333; padding:10px;">
      <a href="/" style="color:white; margin-right:15px;">Home</a>
      <a href="/new_blog" style="color:white; margin-right:15px;">New Blog</a>
      {% if session.username %}
        <a href="/profile?u={{ session.username }}" style="color:white; margin-right:15px;">My Profile</a>
        <span style="color:white;">Logged in as: {{ session.username }}</span>
        <a href="/logout" style="color:white; margin-right:15px;">Logout</a>
      {% endif %}
    </div>

     <div class="header">
       <h1>Blog</h1>
     </div>

     <div class="middle">

       <nav>
         <h3>Created by: <a href="/profile?u={{author_name}}">{{ author_name }}</a></h3>
         
         <h4>
           {{timestamp}}<br>
         </h4>
       </nav>

       <main>
         <h2>{{blog_name}}</h2>

         <p>
           {{content}}
         </p>

         {% if session.username == author_name %}
         <p><a href="/blogs/{{blog_id}}/edit">Edit</a></p>
       {% endif %}

       </main>
     </div>

   </body>
 </html>