<!DOCTYPE html>

<!--
  Mustafa Abdullah, William Li, Jiefeng Ou, Cody Wong
  CJWM
  P00: Move Slowly and Fix Things
 -->

<html>
  <head>
    <title>CJWM Home</title>
  </head>


      <h1>CJWM Blog</h1>


      <h2>Navigation</h2>
      <nav>
        <ul>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="blogs.html">Blogs</a></li>
        </ul>
      </nav>



        <p>
          {% for blog_id, blog_name in sorted_blogs_list %}
            <li><a href="blogs/{{blog_id}}">{{blog_name}}</a></li>
          {% endfor %}
        </p>

      </main>
    </div>


  </body>
</html>
