<!DOCTYPE html>
<!--
  Mustafa Abdullah, William Li, Jiefeng Ou, Cody Wong
  CJWM
  P00: Move Slowly and Fix Things
 -->

<html>

  <head>
    <title> Profile </title>
  </head>

  <body>
    <h1>Profile</h1>
    <h2>User Information</h2>

      <h3>

          {{ user }}
          <br>

      <h2>Blogs</h2>

          {% for blog in blogs %}
              {{ blog }}
          <br>
          {% endfor %}

      </h3>

    <h3>Edit Profile</h3>

    <h3>Navigation Links</h3>
    <br>
    <a href="\">Home</a>



  </body>

</html>
